/* Francisco & Martinez */

body {
  display: grid;
  place-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.title {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
}



.flex {
  display: flex;
  width: 100%;
  gap: 1rem;
}



.form input {
  width: 100%;
  padding: 10px 10px 20px 10px;

  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.name {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.submit {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
}
